<ion-header>
  <ion-toolbar>
    <ion-buttons>
    <ion-back-button text="Home"></ion-back-button>
    <ion-title>Journeys</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="overview">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Overview</ion-label>        
      </ion-tab-button>
  
      <ion-tab-button tab="steps">
        <ion-icon name="footsteps-outline"></ion-icon>
        <ion-label>Steps</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="resources">
        <ion-icon name="hammer-outline"></ion-icon>
        <ion-label>Resources</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
