<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button routerLink="../journeys/overview">Overview</ion-button>
    <ion-button routerLink="../journeys/steps">Steps</ion-button>
    <ion-button routerLink="../journeys/resources">Resources</ion-button>    
  </div>
</ion-content>
